<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs")%>
        <link rel="stylesheet" href="/css/register-styles.css">
</head>

<body background="/images/fondo-register.jpg">

    <%- include ("./partials/header.ejs")%>

        <main class="formulario">
            <br>
            <form action="/user/edicion-perfil/<%=userToEdit.id_user %>?_method=PUT" method="POST"
                enctype="multipart/form-data" charset=utf-8>
                <div>
                    <label for="firstname">Nombre</label>
                    <input type="text" name="firstname" id="firstname"
                        value="<%= userToEdit.firstname %>">
                    <% if (locals.errors && errors.firstname) { %>
                        <div class="errores">
                            <%= errors.firstname.msg%>
                        </div>
                        <% } %>
                </div>
                <br>
                <div>
                    <label for="lastname">Apellido</label>
                    <input type="text" id="lastname" name="lastname""
                        value=" <%=userToEdit.lastname %>">
                    <% if (locals.errors && errors.lastname) { %>
                        <div class="errores">
                            <%= errors.lastname.msg%>
                        </div>
                        <% } %>
                </div>
                <br>
                <div>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="correo@correo.com"
                        value="<%= userToEdit.email  %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="errores">
                            <%= errors.email.msg%>
                        </div>
                        <% } %>
                </div>
                <br>
                <div>
                    <label for="birthday">Fecha de Nacimiento</label>
                    <input type="date" id="birthday" name="birthday" placeholder="12/12/2012"
                        value="<%= userToEdit.birthday %>">
                    <% if (locals.errors && errors.birthday) { %>
                        <div class="errores">
                            <%= errors.birthday.msg%>
                        </div>
                        <% } %>
                </div>
                <br>
                <div>
                    <label for="address">Domicilio</label>
                    <input type="text" id="address" name="address" placeholder="calle 3 # 3-33"
                        value="<%= userToEdit.address %>">
                    <% if (locals.errors && errors.address) { %>
                        <div class="errores">
                            <%= errors.address.msg%>
                        </div>
                        <% } %>
                </div>
                <br>
                <div>
                    <label for="password">Contrase単a</label>
                    <input type="password" id="password" name="password" placeholder="Cambiar Contrase単a" minlength="5">
                    <% if (locals.errors && errors.password) { %>
                        <div class="errores">
                            <%= errors.password.msg%>
                        </div>
                        <% } %>
                </div>
                <br>
                <div>
                    <label for="confirmPassword">Confirmar Contrase単a nueva</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                        placeholder="Confirmar Contrase単a">
                    <% if (locals.errors && errors.confirmPassword) { %>
                        <div class="errores">
                            <%= errors.confirmPassword.msg%>
                        </div>
                        <% } %>
                </div>
                <br>
                <div>
                    <label>Tipo de Usuario</label>
                    <select name="type" class="categoria">
                        <% for(let i=0; i< tipos.length; i++) { %>
                            <option <% if (userToEdit.id_type_user==tipos[i].id_type_user){ %> selected
                                <%} %>
                                    value="<%= tipos[i].id_type_user %>">
                                        <%= tipos[i].type_name %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <br>
                <div>
                    <label for="img">Foto de Perfil</label>
                    <input type="file" id="img" name="img" accept=".jpg,.png">
                </div>
                <br>
                <div class="buttonReg">
                    <button type="post">Guardar</button>
                    <button type="reset">Cancelar</button>
                </div>
            </form>
        </main>

        <%- include ("./partials/footer.ejs")%>
</body>

</html>