<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs")%>
        <link rel="stylesheet" href="/css/register-styles.css">
</head>

<body background="/images/fondo-edit-product.jpg">

    <%- include ("./partials/header.ejs")%>

        <main class="formulario">
            <form action="/productos/edicion-de-producto/<%=pToEdit.id_product %>?_method=PUT" method="POST"
                enctype="multipart/form-data">
                <div><label for="name">Nombre del Producto</label>
                    <input type="text" id="name" name="name" value="<%=pToEdit.name%>" required>
                </div>
                <br>
                <div>
                    <label for="description">Descripción</label>
                    <textarea name="description" id="description"><%=pToEdit.description%></textarea>
                </div>
                <br>
                <div>
                    <label for="price">Precio</label>
                    <input type="number" id="price" value="<%=pToEdit.price%>" name="price" required>
                </div>
                <br>
                <div>
                    <label>Categoría</label>
                    <select name="category" class="categoria">
                        <option value="none">---</option>
                        <% for(let i=0; i< categorias.length; i++) { %>
                            <option <% if (pToEdit.id_product_category==categorias[i].id_product_category){ %> selected
                                <%} %>
                                    value="<%= categorias[i].id_product_category %>">
                                        <%= categorias[i].name_category %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <br>
                <div><label for="img">Foto del Producto</label>
                    <input type="file" id="img" value="<%=pToEdit.img%>" name="img" accept=".jpg">
                </div>
                <br>
                <div class="buttonReg">
                    <button type="post">Editar Producto</button>
                    <button type="reset">Cancelar</button>
                </div>
        </main>
        <%- include ("./partials/footer.ejs")%>
            </div>
</body>

</html>