<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs")%>
        <link rel="stylesheet" href="/css/register-styles.css">
</head>

<body background="/images/fondo-edit-product.jpg">

    <%- include ("./partials/header.ejs")%>

        <main class="formulario">
            <form action="/productos/edicion-de-producto/<%=pToEdit.id_product %>?_method=PUT" method="POST"
                enctype="multipart/form-data">
                <div><label for="name">Nombre del Producto</label>
                    <input type="text" id="name" name="name" value="<%=pToEdit.name%>"
                        placeholder="Ej:Motherboard MSI A320M-A PRO MAX AMD AM4" required>
                </div>
                <br>
                <div>
                    <label for="description">Descripción</label>
                    <textarea name="description" id="description"><%=pToEdit.description%></textarea>
                </div>
                <br>
                <div>
                    <label for="price">Precio</label>
                    <input type="number" id="price" value="<%=pToEdit.price%>" name="price" placeholder="Precio"
                        required>
                </div>
                <br>
                <div>
                    <label>Categoría</label>
                    <select name="category" class="categoria">
                        <option value="none" <%=(pToEdit.id_product_category == "none" )? "selected" :"" %> ---</option>
                        <option value="1" <%=(pToEdit.id_product_category=="1" )? "selected" :"" %>>Componentes</option>
                        <option value="2" <%=(pToEdit.id_product_category=="2" )? "selected" :"" %>> Portatiles</option>
                        <option value="3" <%=(pToEdit.id_product_category=="3" )? "selected" :"" %>> Pc Armadas</option>
                        <option value="4" <%=(pToEdit.id_product_category=="4" )? "selected" :"" %>>Perifericos</option>
                    </select>
                </div>
                <br>
                <div><label for="img">Foto del Producto</label>
                    <input type="file" id="img" value="<%=pToEdit.img%>" name="img" accept=".jpg">
                </div>
                <br>
                <div class="buttonReg">
                    <button type="post">Editar Producto</button>
                    <button type="reset">Cancelar</button>
                </div>
        </main>
        <%- include ("./partials/footer.ejs")%>
            </div>
</body>

</html>