<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs")%>
        <link rel="stylesheet" href="/css/login-styles.css">
</head>

<body background="/images/fondo-login.jpg">

    <%- include ("./partials/header.ejs")%>

        <main class="formulario">
            <form action="/user/login" method="POST" class="formLogin">
                <div class="form-control">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" class="email" placeholder="correo@correo.com"
                        value="<%= locals.old && old.email ? old.email:'' %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="errores">
                            <%= errors.email.msg%>
                        </div>
                        <% } %>
                            <p class="errores"></p>
                </div>
                <br>
                <div class="form-control">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" class="password" placeholder="Contraseña"
                        required>
                    <% if (locals.errors && errors.password) { %>
                        <div class="errores">
                            <%= errors.password.msg%>
                        </div>
                        <% } %>
                            <p class="errores"></p>
                </div>
                <br>
                <div class="chekbox">
                    <label for="">Recordar mi usuario</label>
                    <input type="checkbox" name="recordarme">
                </div>
                <br>
                <div>
                    <button class="buttonSes" type="submit">Iniciar Sesión</button>
                    <br>
                </div>
            </form>
            <br>
            <nav class="registrarse">¿Aún no tienes cuenta? <a href="/user/register"><button class="buttonSes"
                        type="submit">Registrarse</button></a></nav>

        </main>
        <%- include ("./partials/footer.ejs")%>
            <script src="/js/validacionesLogin.js"> </script>
</body>

</html>