<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs")%>
        <link rel="stylesheet" href="/css/productDetail-styles.css">
</head>

<body background="/images/fondo-product-detail.avif">
    <%- include ("./partials/header.ejs")%>

        <main>
            <section class="detalleProducto">
                <article class="producto">
                    <h4>
                        <%=p.name%>
                    </h4>
                    <div class="meGustaCompartir">
                        <a href=""><i class="far fa-heart"></i></a>
                        <a href=""><i class="fas fa-share-alt"></i></a>
                    </div>
                    <div class="imagenProducto">
                        <img src="/images/<%=p.img%>" />
                    </div>
                    <br>
                    <div class="precio">
                        <p>$ <%=p.price%>
                        </p>
                    </div>
                </article>
                <article class="caracteristicas">
                    <h4>Características</h4>
                    <p>
                        <%=p.description%>
                    </p>

                </article>
                <article class="interacionProducto">
                    <div class="cantidad">
                        <label>Cantidad</label>
                        <select name="categoria" class="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <a class="carroComprasProduct"><i class="fas fa-cart-arrow-down"></i></a>
                    <a class="enlaceComprarEditar" href="/compras/shopping-cart">Comprar</a>
                    <a class="enlaceComprarEditar" href="/compras/edicion-de-producto/<%=p.id %>">Editar</a>
                    <form action="/compras/delete/<%=p.id%>?_method=DELETE" method="POST">
                        <button class="botonEliminar" type="submit" class="">Eliminar</button> </button>
                    </form>
                </article>
            </section>
            <br>
            <section class="productoRelacionado">
                <h4>Producto Relacionado</h4>
                <div class="detalleProdRela">
                    <div class="img-text1">
                        <img src="/images/<%=p.img%>" />
                        <div class="text1">
                            <h5>Motherboard Gigabyte A320M S2H V2</h5>
                            <p>$</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="carrousel">
                <h4>Producto Relacionado</h4>
                <div class="grande">
                    <div class="img-text2">
                        <img src="/images/<%=p.img%>" />
                        <div class="text2">
                            <h5>Motherboard Gigabyte A320M S2H V2</h5>
                            <p>$</p>
                        </div>
                    </div>
                    <div class="img-text2">
                        <img src="/images/<%=p.img%>" />
                        <Div class="text2">
                            <h5>Motherboard Gigabyte A320M S2H AM4</h5>
                            <p>$</p>
                        </Div>
                    </div>

                </div>
                <ul class="puntos">
                    <li class="punto activo"></li>
                    <li class="punto"></li>
                </ul>
            </div>
        </main>
        <%- include ("./partials/footer.ejs")%>
</body>

</html>