<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Users </h2>
    <div>
    <% users.data.forEach(user=>{ %>
        <div>
            <div>ID:<%= user.id_user %></div>
            <div>nombre y apellido: <%= user.firstname %> <%= user.lastname %></div>
            <div>email : <%= user.email %></div>
            <div>
            <a href= http://localhost:3000/api/user/<%= user.id_user %>  />DETALLE DEL USUARIO
            </div>    
        </div>
        <% })%>
    </div>
</body>
</html>